.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;

  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

.time {
  display: flex;
  align-items: center;
  height: 10vh;
  margin: 0 auto;
  background-color: black;
  overflow: hidden;

  @media (min-width: 1000px) {
    flex-wrap: wrap;
    height: 100vh;
    width: 65vw;
    justify-content: space-around;
    align-content: flex-end;
    padding-bottom: 20px;
  }

  @media (max-width: 999px) and (orientation: landscape) {
   height: 25vh; 
  }
}

.new-game {
  font-size: 1.6rem;
  font-weight: 600;
  width: 15vw;
  max-width: 10rem;
  height: 15vw;
  max-height: 10rem;
  color: white;
  background-color: red;
  border-radius: 3px;
  padding: .5rem;
  text-align: center;

  @media (min-width: 1920px) {
    max-height: 15rem;
    max-width: 15rem;
  }

  @media (min-width: 1000px) {
    order: 5;
  }

  @media (max-width: 999px) and (max-width: 450px) {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.timer {
  font-size: 11vw;
  width: 36vw;
  height: 15vw;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  @media (min-width: 1000px) {
    font-size: 23vw;
    height: 32vh;
    width: 65vw;
    margin-bottom: calc((100vh - 23vh - 10rem)/3);
  }
}

.btn {
  width: 15vw;
  max-width: 10rem;
  height: 15vw;
  max-height: 10rem;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 3px;

  @media (min-width: 1920px) {
    max-height: 15rem;
    max-width: 15rem;
  }

  @media (min-width: 1000px) {

  }

  &--startnew {
    color: white;
    background-color: #0077df;
    text-transform: uppercase;
    padding: .5rem;

    @media (max-width: 999px) and (max-width: 450px) {
      font-size: 1rem;
      font-weight: 400;
      padding: 0;
    }
  }
  &--pause {
    color: #ffb700;
    border: 5px solid #ffb700;
    font-size: 2.4rem;
  }
  &--play {
    color: #80ff00e9;
    border: 5px solid #80ff00e9;
    font-size: 2.4rem;
  }
}

.scores {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (min-width: 1000px) {
   width: 35%; 
   height: 100vh;
  }

  @media (max-width: 999px) and (orientation: landscape) {
    flex-direction: row;
  }
}

.team {
  width: 100%;
  height: 40vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: 1000px) {
    height: 50vh; 
  }

  @media (max-width: 999px) and (orientation: landscape) {
    height: 70vh;
  }
}

.team-a {
  background-color: #c4c4c4;
}
.team-b {
  background-color: #a2a2a2;
}

.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media (min-width: 1000px) {
   justify-content: space-around; 
  }
}

.caption {
  font-size: 5vw;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: .5rem;
  color: rgb(255, 255, 255);

  @media (min-width: 1000px) {
    font-size: 5vh;
  }

  @media (max-width: 999px) and (orientation: landscape) {
    font-size: 4vw;
  }
}

.score-count {
  font-size: 14vw;
  line-height: 1.2;

  @media (min-width: 1000px) {
   font-size: 30vh; 
   line-height: 1;
  }

  @media (max-width: 999px) and (orientation: landscape) {
   font-size: 8vw; 
  }
}

.point-box {
  display: flex;
  justify-content: space-around;
}

.point {
  width: 16vw;
  height: 16vw;
  border-radius: 50%;
  border: 3px solid black;
  text-align: center;
  font-size: 6vw;

  @media (min-width: 1000px) {
   width: 8vh;
   height: 8vh; 
   font-size: 4vh;
  }

  @media (max-width: 999px) and (orientation: landscape) {
    width: 10vw;
    height: 10vw;
    font-size: 4vw;
  }
}

.plus1 {
  background-color: orange;
  border-color: #ff8400;
}
.plus2 {
  background-color: orangered;
  border-color: #dc0000;
}
.plus3 {
  background-color: red;
  border-color: #b50000;
}
.minus1 {
  background-color: #22c8ffcb;
  border-color: #0188b5cb;
}