.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;

  @media (min-width: 1000px) {
    flex-direction: row;
  }
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  margin: 0 auto;
  background-color: black;
  overflow: hidden;

  @media (min-width: 1000px) {
    flex-wrap: wrap;
    height: 100vh;
    width: 65vw;
    justify-content: space-around;
    align-content: flex-end;
    padding-bottom: 20px;
  }

  @media (max-width: 999px) and (orientation: landscape) {
   height: 25vh;
  }
}

.timer {
  font-size: 18vw;
  height: 20vh;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  @media (max-width: 999px) and (orientation: landscape) {
    font-size: 30vh;
    width: 70vw;
  }

  @media (min-width: 1000px) {
    font-size: 23vw;
    height: 32vh;
    width: 65vw;
    margin-bottom: calc((100vh - 23vh - 10rem)/3);
  }
}

.timer-buttons {
  display: flex;

  @media (max-width: 999px) and (orientation: landscape) {
    display: block;
   }

  @media (min-width: 1000px) {
    display: flex;
  }

  &--1floor {
    margin-right: 3px;

    @media (max-width: 999px) and (orientation: landscape) {
      margin-bottom: 3px;
      display: flex;
    }

    @media (min-width: 1000px) {
      margin-right: 2.4rem;
      margin-bottom: 3px;
      display: flex;
    }
  }

  &--2floor {

    @media (max-width: 999px) and (orientation: landscape) {
      display: flex;
    }
    
    @media (min-width: 1000px) {
      display: flex;
    }
  }
}

.btn {
  width: 9vh;
  max-width: 10rem;
  height: 9vh;
  max-height: 10rem;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  padding: 5px;

  @media (max-width: 999px) and (orientation: landscape) {
    font-size: 1.2rem;
    font-weight: 400;
  }

  @media (min-width: 1000px) {
    width: 12vh;
    height: 12vh;
    max-height: 15rem;
    max-width: 15rem;
  }

  &--newgame {
    color: #fff;
    background-color: #da0101;
    text-transform: uppercase;
  }

  &--startnew {
    color: #fff;
    background-color: #006ece;
    text-transform: uppercase;
  }

  &--pause {
    background-color: #ffb700;
  }

  &--play {
    background-color: #2fd700e9;
  }
}

.scores {
  display: flex;
  flex-direction: column;
  overflow: hidden;


  @media (min-width: 1000px) {
   width: 35%; 
   height: 100vh;
  }

  @media (max-width: 999px) and (orientation: landscape) {
    flex-direction: row;
    justify-content: center;
  }
}

.team {
  width: 100%;
  height: 40vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: 1000px) {
    height: 50vh; 
  }

  @media (max-width: 999px) and (orientation: landscape) {
    height: 70vh;
  }
}

.team-a {
  background-color: #c4c4c4;
}
.team-b {
  background-color: #a2a2a2;
}

.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media (min-width: 1000px) {
   justify-content: space-around; 
  }
}

.caption {
  font-size: 5vw;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: .5rem;
  color: #fff;

  @media (min-width: 1000px) {
    font-size: 4vh;
  }

  @media (max-width: 999px) and (orientation: landscape) {
    font-size: 4vh;
  }
}

.score-count {
  font-size: 14vh;
  line-height: 1;

  @media (min-width: 1000px) {
   font-size: 32vh; 
   line-height: 1;
  }

  @media (max-width: 999px) and (orientation: landscape) {
   font-size: 32vw; 
  }
}

.point-box {
  display: flex;
  justify-content: center;

  @media (max-width: 999px) and (orientation: landscape) {
    justify-content: center;
  }
}

.point {
  width: 16vw;
  height: 16vw;
  border-radius: 50%;
  border: 3px solid black;
  text-align: center;
  font-size: 6vw;

  @media (min-width: 1000px) {
   width: 7vh;
   height: 7vh; 
   font-size: 3vh;
  }

  @media (max-width: 999px) and (orientation: landscape) {
    width: 7vw;
    height: 7vw;
    font-size: 3vw;
  }

  &:not(:last-of-type) {
    margin-right: 24px;
  }
}

.plus1 {
  background-color: orange;
  border-color: #ff8400;
}
.plus2 {
  background-color: orangered;
  border-color: #dc0000;
}
.plus3 {
  background-color: red;
  border-color: #b50000;
}
.minus1 {
  background-color: #22c8ff;
  border-color: #0188b5;
}